<section class="section-padding" style="padding-bottom: 200px;">

  <!-- SURVEY SETTINGS -->
  <mat-card class="my-card">

    <div class="my-card-header">
      <h4>Survey settings</h4>
    </div>

    <div class="my-card-content">
      <div class="row survey-option-row">
        <div class="col-6 text-center">
          <p>Choose how many instances will be generated: </p>
        </div>
        <div class="col-6 text-center">
          <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput
                   placeholder="Quantity"
                   type="number"
                   min="1"
                   max="10000"
                   [(ngModel)]="req.quantity">
          </mat-form-field>
        </div>
      </div>

      <div class="row survey-option-row">
        <div class="col-6 text-center">
          <p>Select the number of test repeats (the results will be averaged): </p>
        </div>
        <div class="col-6 text-center">
          <mat-form-field appearance="outline">
            <mat-label>Tests</mat-label>
            <input matInput
                   placeholder="Tests"
                   type="number"
                   min="1"
                   max="10"
                   [(ngModel)]="req.testsReps">
          </mat-form-field>
        </div>
      </div>

      <div class="row survey-option-row">
        <div class="col-6 text-center">
          <p>Select the complexity of the query (for more info go to Information): </p>
        </div>
        <div class="col-6 text-center">
          <mat-radio-group [(ngModel)]="req.simpleQuery">
            <mat-radio-button [value]="true" style="margin-right: 24px;">Simple</mat-radio-button>
            <mat-radio-button [value]="false">Complex</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="my-divider"></div>

      <div class="row survey-option-row">
        <!-- CRUD -->
        <div class="col-6">
          <div class="survey-actions text-center">
            <button mat-raised-button
                    color="primary"
                    (click)="sendRequest(operations.CREATE)">
              Create
            </button>
            <button mat-raised-button
                    color="primary"
                    (click)="sendRequest(operations.READ)">
              Read
            </button>
            <button mat-raised-button
                    color="primary"
                    (click)="sendRequest(operations.UPDATE)">
              Update
            </button>
            <button mat-raised-button
                    color="primary"
                    (click)="sendRequest(operations.DELETE)">
              Delete
            </button>
          </div>
        </div>

        <!-- IMPORT / EXPORT -->
        <div class="col-6 text-right">
          <button mat-raised-button
                  class="file-button"
                  (click)="saveToFile()"
                  [disabled]="!upToSave">
            <mat-icon aria-label="Save">cloud_download</mat-icon>
            <span>Save</span>
          </button>
          <button mat-raised-button
                  class="file-button"
                  (click)="fileInput.click()">
            <mat-icon aria-label="Upload">cloud_upload</mat-icon>
            <span>Upload</span>
          </button>
          <input #fileInput
                 hidden
                 accept=".json"
                 type="file"
                 (change)="getFiles($event)">
        </div>
      </div>

    </div> <!-- /card-content -->
  </mat-card>

  <!-- SURVEY RESULTS -->
  <mat-card class="my-card" style="margin-top: 48px;">

    <div class="my-card-header">
      <h4>Survey results</h4>
    </div>

    <mat-tab-group [dynamicHeight]="true"
                   style="min-height: 500px"
                   animationDuration="0ms"
                   mat-align-tabs="center"
                   [selectedIndex]="selectedIndex"
                   (selectedIndexChange)="selectedIndex = $event">

      <mat-tab *ngFor="let operation of operationTypeValues()"
               [label]="operation">
        <div *ngIf="surveyLoading"
             class="survey-loader">
          <mat-spinner [diameter]="150"></mat-spinner>
        </div>
        <app-survey-result *ngIf="!surveyLoading"
                           [result]="results.get(operation)"
                           [operation]="operation">
        </app-survey-result>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</section>
