@import '../../../../assets/scss/variables';

.survey-option-row {
  align-items: center;
  min-height: 50px;
}

.survey-actions{
  display: flex;
  justify-content: space-evenly;
  button {
    text-transform: uppercase;
  }
}

.survey-loader {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
