<section class="section-info">
  <mat-tab-group [dynamicHeight]="true"
                 animationDuration="0ms"
                 style="min-height: 500px"
                 mat-align-tabs="center">
    <mat-tab *ngFor="let db of dbNameValues()"
             [label]="db">
      <div class="toc-container">
        <section class="toc-section"
                 *ngFor="let infoQuery of componentData.get(db)">
          <h2 class="toc-header"
              (click)="scrollToElement(infoQuery.title.toLowerCase().split(' ').join('_').replace('()', ''))">
            {{infoQuery.title}}
          </h2>
          <ol>
            <li *ngFor="let query of infoQuery.queryList"
                class="toc-link"
                (click)="scrollToElement(query.title.toLowerCase().split(' ').join('_').replace('()', ''))">
              {{query.title}}
            </li>
          </ol>
        </section>
      </div>

      <div *ngFor="let infoQuery of componentData.get(db)">
        <h2 class="header-divider"
            [id]="infoQuery.title.toLowerCase().split(' ').join('_').replace('()', '')">
          {{infoQuery.title}}
        </h2>
        <div class="query" *ngFor="let query of infoQuery.queryList"
             [id]="query.title.toLowerCase().split(' ').join('_').replace('()', '')">
          <h2>{{query.title}}</h2>
          <p>{{query.desc}}</p>
          <app-highlight [code]="query.code"></app-highlight>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>
</section>
