@import '../../../../assets/scss/variables';

.section-info {
  padding-bottom: 3*$margin;
}

.query {
  padding-top: 3*$margin;
}

.header-divider {
  padding-top: 3*$margin;
  text-align: center;
}
