/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/scss/bootstrap-grid';
@import 'assets/scss/variables';

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Camphor', sans-serif;
  scroll-behavior: smooth;
  color: $text-dark;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.section-padding {
  padding: 3*$margin 0 $margin;
}

.text-center {
  text-align: center;
}

.my-divider {
  height: 1px;
  margin: $margin 0;
  background-color: $divider_color;
  width: 100%;
}

/**
    CARD
 */
.my-card {
  border-radius: $border-radius !important;
  padding: 0 !important;
}

.my-card-header {
  background-color: $divider_color;
  color: $primary;
  padding: .5*$margin;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.my-card-content {
  padding: $margin;
}
