// sizes
$margin: 24px;

$font-normal: 15px;
$font-small: 12px;

$border-radius: 10px;

// colors
$text-white: #FAFAFA;
$text-dark: #202020;
$text_secondary: #757575;

$divider_color: #E0E0E0;
$hover_color: rgba(0, 0, 0, 0.1);

$material-red: #F44336;
$material-green: #8BC34A;
